# gpt openai兼容的格式
OPEANAI_BASE_URL = ""
OPEANAI_API_KEY = ""

# gemini # openai兼容的格式
GEMINI_BASE_URL = ""
GEMINI_API_KEY = ""

# embedding模型的api，openai兼容的格式，项目使用的是openai的text-embedding-3-large模型
EMBEDDING_BASE_URL = ""
EMBEDDING_API_KEY = ""


# cohere
# 用来生成手册的目录，如果需要生成手册目录，则需要配置这个key，项目中catalog目录下是已经生成好的
# see https://dashboard.cohere.com/
COHERE_API_KEY =""

# deepseek
# deepseek官方的api
# 可不配置
DEEPSEEK_API_KEY = ""
DEEPSEEK_BASE_URL = "https://api.deepseek.com/v1"

# 百炼官方的api
# 可不配置
DASHSCOPE_API_KEY=""
DASHSCOPE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 插图的根目录，绝对路径
# 需要配置一下
IMAGE_ROOT_DIR = "xxxx/processed_data/KownledgeBase/手册/插图"
# 手册的根目录
DATA_ROOT_DIR = "data/KownledgeBase/手册"

# milvus的配置
MILVUS_HOST = "127.0.0.1"
MILVUS_PORT = "19530"
MILVUS_DB_NAME = "default"

# 生成的英文handbook的名称
ENGLISH_HANDBOOK_NAME_FILE = "handbook_name_gemini.json"

# 做实验的时候设置了，全部为1即可
USE_CONTEXTUAL_AUGMENTATION = "1"
USE_QUERY_CLS="1"
