# gpt
OPEANAI_BASE_URL = ""
OPEANAI_API_KEY = ""

# gemini
GEMINI_BASE_URL = ""
GEMINI_API_KEY = ""

# deepseek
DEEPSEEK_API_KEY = ""
DEEPSEEK_BASE_URL = ""

# embedding
EMBEDDING_BASE_URL = ""
EMBEDDING_API_KEY = ""

# cohere
# see https://dashboard.cohere.com/api-keys
COHERE_API_KEY =""

# 插图的根目录
IMAGE_ROOT_DIR = "/data3/zwc/cs_agent/processed_data/KownledgeBase/手册/插图"
# 手册的根目录
DATA_ROOT_DIR = "data/KownledgeBase/手册"
# milvus的配置
MILVUS_HOST = "127.0.0.1"
MILVUS_PORT = "19530"
MILVUS_DB_NAME = "default"
# milvus的集合名称
MILVUS_COLLECTION_NAME = "handbook_knowledge_bank"
# 英文手册的名称文件
ENGLISH_HANDBOOK_NAME_FILE = "handbook_name_gemini.json"
